<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mezzari.torres.lucas.easy_debugger">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity android:name=".view.NetworkLoggerActivity"></activity>
        <activity android:name=".view.ExceptionActivity" />

        <service
            android:name=".service.FloatingDebugViewService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>