<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:node="merge">
        <activity
            android:name=".exception.view.ExceptionActivity"
            android:exported="true"
            android:theme="@style/DebugAppTheme" />
        <activity
            android:name=".debug.view.DebugActivity"
            android:exported="true"
            android:theme="@style/DebugAppTheme" />

        <service
            android:name=".debug.service.FloatingDebugViewService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".debug.service.DebugActivityService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>